<a href="https://colab.research.google.com/github/alanoudalsanad/Mining-project/blob/main/Phase1_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Phase 1:** Test with GUI steps

# Project Goal:
The goal of this project is to use the Diabetes Health Dataset to explore key factors that influence diabetes and to build a simple predictive model that can help identify whether a person is likely to have diabetes.

# Dataset Source:
The dataset was obtained from Kaggle. Link: https://www.kaggle.com/datasets/rabieelkharoua/diabetes-health-dataset-analysis

In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("Dataset/Raw_dataset.csv")
df.head()

,PatientID,Age,Gender,Ethnicity,SocioeconomicStatus,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,...,TinglingHandsFeet,QualityOfLifeScore,HeavyMetalsExposure,OccupationalExposureChemicals,WaterQuality,MedicalCheckupsFrequency,MedicationAdherence,HealthLiteracy,Diagnosis,DoctorInCharge
0,6000,44,0,1,2,1,32.985284,1,4.499365,2.443385,...,1,73.765109,0,0,0,1.782724,4.486980,7.211349,1,Confidential
1,6001,51,1,0,1,2,39.916764,0,1.578919,8.301264,...,0,91.445753,0,0,1,3.381070,5.961705,5.024612,1,Confidential
2,6002,89,1,0,1,3,19.782251,0,1.177301,6.103395,...,0,54.485744,0,0,0,2.701019,8.950821,7.034944,0,Confidential
3,6003,21,1,1,1,2,32.376881,1,1.714621,8.645465,...,0,77.866758,0,0,1,1.409056,3.124769,4.717774,0,Confidential
4,6004,27,1,0,1,3,16.808600,0,15.462549,4.629383,...,0,37.731808,0,0,0,1.218452,6.977741,7.887940,0,Confidential

# Dataset Description:
This dataset contains comprehensive health data for 1,879 patients, uniquely identified with IDs ranging from 6000 to 7878.The data includes demographic details, lifestyle factors, medical history, clinical measurements, medication usage, symptoms, quality of life scores, environmental exposures, and health behaviors.

# Dataset Information:

*   Number and data types of attributes (features)= 46 attribute.

*   Number of objects (instances/records) = 1879 record.

*   Class attribute: Diagnosis

In [18]:
print("Class values:", df['Diagnosis'].unique())

Class values: [1 0]

In [19]:
print("Counts per class:")
print(df['Diagnosis'].value_counts())

Counts per class:
Diagnosis
0    1127
1     752
Name: count, dtype: int64